body,
html {
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/static/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/static/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/static/Inter-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

body {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: var(--grey-900);
  font-size: 14px;
}

section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 375px) {
    width: 330px;
  }
  @media screen and (min-width: 1440px) {
    width: 1100px;
  }
}
.profile__wrapper {
  padding: 20px;
  background-color: var(--grey-800);
  border-radius: 20px;
  width: 325px;
  @media screen and (min-width: 1440px) {
    padding: 40px;
    width: 385px;
  }
}
.profile__img {
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.profile__name {
  color: var(--white);
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.profile__location {
  font-size: 12px;
  color: var(--green);
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.profile__role {
  font-size: 12px;
  color: var(--white);
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}
.profile__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile__button {
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: var(--grey-700);
  color: var(--white);
  cursor: pointer;
  &:hover {
    background-color: var(--green);
  }
}
